.work-tiles {
  display: grid;
  grid-gap: $primary-spacing;
  grid-template-columns: repeat(auto-fill, $mobile-tile-length);
  justify-content: center;
  height: 100%;

  &__item {
    @include box-shadow(false, true, true, false);
    height: $mobile-tile-length;
    padding: $primary-spacing;
    transition: box-shadow 0.2s ease-in-out;
    border: 1px solid $border-color;
    background-color: $white;

    &:hover, &:focus {
      @include box-shadow(false, true, true, false, 2);
      outline: initial;
    }
  }

  @include breakpoint(tablet) {
    grid-template-columns: repeat(auto-fill, $desktop-tile-length);

    &__item {
      height: $desktop-tile-length;
    }
  }
}
