.home {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-rows: 250px 1fr 80px;
  height: 100vh;

  &__header {
    @include inverted-colors;
    @include bottom-box-shadow;

    display: flex;
    grid-area: header;
    align-items: center;
    font-size: 4rem;

    .container {
      @include center-horizontal;
      align-items: baseline;
    }

    &__search {
      width: 30rem;
    }

    &__search__control {
      @include focus-hover-1;
    }
  }

  &__main {
    grid-area: main;
  }

  &__footer {
    grid-area: footer;
  }
}


