.home {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-rows: 250px 1fr 80px;
  height: 100vh;

  &__header {
    @include inverted-colors;
    @include bottom-box-shadow;
    display: flex;
    z-index: $z-index-medium;
    grid-area: header;
    align-items: center;
    font-size: 4rem;

    @include breakpoint(extra-small-only) {
      font-size: 3rem;
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include breakpoint(small-laptop) {
        @include center-horizontal;
        align-items: baseline;
      }

    }

    &__name {
      white-space: nowrap;
    }

    &__search__control-container {
      display: flex;
      width: 100%;
      min-width: 20rem;
      max-width: 31rem;
    }
  }

  &__main {
    grid-area: main;
  }

  &__footer {
    z-index: $z-index-medium;
    grid-area: footer;
  }
}


