// Dimensions
$primary-spacing: 20px;
$base-font-size: 16px;
$mobile-font-size: 14px;
$mobile-tile-length: 275px;
$desktop-tile-length: 230px;

// Colors: https://coolors.co/fafafa-cecfc7-f9fbf2-f9efe3-f4faff
$primary-color: #f4faff;
$secondary-color: #555b6e;
$accent-color: #f9efe3;
$white: #fff;
$black: #000;
$border-color: rgba($secondary-color, 0.2);

// Other
$font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Lato');
$font-family: 'Lato', sans-serif;
